
body,html{
    background:black;
    margin: 0;
    font: bold 15px 'Open Sans Light', Arial, sans-serif;


}

ul {
    margin: 150px auto 0;
    padding: 0;
    list-style: none;
    display: table;
    width: 500px;
    text-align: center;
}

li{
    display: table-cell;
    position: relative;
    padding: 15px 0;
}


a {
    color:#fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.13em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background:#f6c100;
    transition: width 0.4s ease 0s, left 0.4s ease 0s;
    content: "";
    width: 0;
}

a:hover:after{
    width: 100%;
    left: 0;
}

h1{
    color: #f6c100;
    text-align: center;
    font-size: 50px;
}
h1:hover{
    color:wheat;
}
p{
    color: wheat;
    font: bold 20px 'Open Sans Light', Arial, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.ol{
    color: wheat;
}
footer{
    color:black;
    background: #f6c100;
    width: 100%;
    height: 100px;
}
.footer{
    text-align: center;
    font: bold 15px 'Open Sans Light', Arial, sans-serif;
    margin-top: 100px;
}
.span{
    margin-top: 100px;
    margin-bottom: 100px;
}
.btn{
    background: none;
    border: 2px solid #f6c100;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: wheat;

}
.btn:hover{
    background: #f6c100;
    color: black;
}
.div_center{
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

@media screen and (max-height: 300px){
    ul{
        margin-top: 40px;
    }
}